
body{
    margin: 0;
}

.Header {
    background-color: #dcdcdc; 
    padding: 2%; 
}

.container {
    display: flex; 
    justify-content: center; 
    gap: 3%; 
}

.btn {
    background-color: black; 
    border: none; 
    border-radius: 5px; 
    color: white; 
    padding: 10px 20px; 
    cursor: pointer; 
    font-size: 16px; 
    text-transform: uppercase; 
    transition: background-color 0.3s; 
}

.btn a {
    color: white; 
    text-decoration: none; 
}


